./*
pulse/
Deepin/
QtProject.conf
Trolltech.conf
akregatorrc
arkrc
autostart-scripts/
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
calibre/
calibrerc
chromium/
configstore/
dconf/
discord/
dolphinrc
drkonqirc
emaildefaults
enchant/
gconf/
gedit/
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
htop/
kactivitymanagerdrc
katepartrc
kateschemarc
katevirc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kdebugrc
kded_device_automounterrc
kdeglobals
keditfiletyperc
kfontinstuirc
kgammarc
kglobalshortcutsrc
kglobalshortcutsrc.Tik493
kglobalshortcutsrc.Tik658
kglobalshortcutsrc.Tik962
kglobalshortcutsrc.TwZ516
kglobalshortcutsrc.TwZ645
kglobalshortcutsrc.TwZ649
kglobalshortcutsrc.TwZ656
kglobalshortcutsrc.jdT667
khotkeysrc
kmixrc
knotifyrc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
plasma-locale-settings.sh
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powerdevilrc
powermanagementprofilesrc
qBittorrent/
qBittorrentrc
session/
smplayer/
spectaclerc
startupconfig
startupconfigfiles
startupconfigkeys
systemsettingsrc
touchpadrc
transmission/
trashrc
DUI/

